<html layout:decorate="~{layout}">
<div layout:fragment="content" class="container">
    <div class="border-bottom  d-flex justify-content-between">
        <h5 class="my-3 font-bold text-purple-500">
            <i class="fa-regular fa-pen-to-square"></i> 답변수정</h5>
        <div class="click bg-ghost" onclick="goBack()">
            <h5 class="hover:text-blue-600 my-3 font-bold text-blue-400">
                <i class="fa-solid fa-right-from-bracket fa-rotate-180"></i> 나가기</h5>
        </div>
    </div>
    <form th:object="${answerForm}" method="post">
        <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}" />
        <div th:replace="~{form_errors :: formErrorsFragment}"></div>
        <div class="mb-3">
            <label for="content" class="form-label">내용</label>
            <textarea th:field="*{content}" class="form-control" rows="10"></textarea>
        </div>
        <div class="flex justify-content-end">
            <input type="submit" value="저장하기" class="btn btn-sm btn-outline ">
        </div>
    </form>
</div>
</html>
