<html layout:decorate="~{layout}">
<div layout:fragment="content" class="container my-3">
    <div class="border-bottom pb-2 d-flex justify-content-between">
        <h5 class="my-3 font-bold text-purple-500">
            <i class="fa-regular fa-pen-to-square"></i> 회원가입</h5>
        <div class="click bg-ghost" onclick="goBack()">
            <h5 class="hover:text-blue-600 my-3 font-bold text-blue-400">
                <i class="fa-solid fa-right-from-bracket"></i> 나가기</h5>
        </div>
    </div>
    <form th:action="@{/user/signup}" th:object="${userCreateForm}" method="post">
        <div th:replace="~{form_errors :: formErrorsFragment}"></div>
        <div class="mb-3">
            <label for="username" class="form-label">사용자 ID</label>
            <input type="text" th:field="*{username}" class="form-control">
        </div>
        <div class="mb-3">
            <label for="password1" class="form-label">비밀번호</label>
            <input type="password" th:field="*{password1}" class="form-control">
        </div>
        <div class="mb-3">
            <label for="password2" class="form-label">비밀번호 확인</label>
            <input type="password" th:field="*{password2}" class="form-control">
        </div>
        <div class="mb-3">
            <label for="email" class="form-label">이메일</label>
            <input type="email" th:field="*{email}" class="form-control">
        </div>
        <div class="flex justify-content-center">
            <button type="submit" class="btn btn-primary btn-wide" style="font-size: 20px;">회원가입</button>
        </div>
    </form>
</div>
</html>